@section hidefooter {}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/ToursList.css">
</head>

<body>
<div class="container">
    @if (Session["UserName"] != null)
    {
        <p>Welcome</p>  @Session["UserName"].ToString()
    }
    <button class="btn btn-success btn-lg pull-right" onclick="location.href='@Url.Action("Exit", "Admin")'">Выход</button>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Телефон</th>
            <th>Эл. адрес</th>
            <th>Номер тура</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var k in ViewBag.ReservedTourInfoList)
            {
                <tr>
                    <td>@k.Name</td>
                    <td>@k.Surname</td>
                    <td>@k.Phone</td>
                    <td>@k.Mail</td>
                    <td>@k.Id</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
</body>
</html>


